<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811203125195-tlkec7ijg2r4nii6n1qjeu36jp0sol17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811203125195-tlkec7ijg2r4nii6n1qjeu36jp0sol17</string>
	<key>API_KEY</key>
	<string>AIzaSyDhUkR21qWpbNvQWhQT1CLUHdHjKQNiX_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>811203125195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akalne</string>
	<key>PROJECT_ID</key>
	<string>akalne</string>
	<key>STORAGE_BUCKET</key>
	<string>akalne.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811203125195:ios:5bc7a5cc1dc5d3d9e1e04e</string>
</dict>
</plist>